.anime{
    &__contents{

        .title{
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
        }

        &__list{
            display: flex;
            justify-content: center;
            list-style: none;
            flex-wrap: wrap;

            @media(max-width: 768px){
                display: block;
                margin-left: 100px;
            }

            @media(max-width: 375px){
                display: block;
                margin-left: 28px;
            }
            
            li{
                margin-right: 25px;
            }

            img{
                width: 400px;
                height: auto;

                @media(max-width: 768px){
                    margin-top: 24px;
                    margin-left: 64px;
                }

                @media(max-width: 375px){
                    width: 320px;
                    height: auto;
                    margin-top: 24px;
                    margin-left: 0px;
                }
            }
        }
    }
}