.hero{
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/totoro1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    @media(max-width: 768px){
        min-height: 64vh;
    }

    &__content{
        max-width: 640px;

        img{
            width: 480px;
            height: auto;
            margin-top: 100px;

            @media(max-width: 768px){
                width: 320px;
                height: auto;
                margin-top: 0px;
            }

            @media(max-width: 375px){
                width: 120px;
                height: auto;
            }
        }

        span{
            padding: 5px;
            padding-left: 0px;
        }

        .livre{
            border: 1px solid #a3a3a3;
            padding: 0 5px;
        }

        p{
            margin-top: 25px;
            margin-bottom: 25px;
        }

        &__title{
            margin-top: 100px;
            margin-bottom: 25px;
            font-weight: 500;

            @media(max-width: 768px){
                margin-top: 268px;
            }

            @media(max-width: 375px){
                margin-top: 180px;
            }
        }
    }
}